<%- include('partials/header.ejs') %>
        <title>The Solar System</title>
    </head>
    <body>
        <h1>Welcome to Earth</h1>
        <p>Click on a planet to know more about it</p>

            <img width = "550" src = "/img/earth.jpg" alt = "Earth" />
            <div class="col-md-6">
                <p>
                Our planet Earth, as Carl Sagan famously said "There is perhaps no better demonstration of the 
                folly of human conceits than this distant image of our tiny world. To me, it underscores 
                our responsibility to deal more kindly with one another, and to preserve and cherish the pale blue dot, 
                the only home we've ever known.". This was in reference to a picture Voyager 1 took 3 billion miles away from Earth in Deep Space.
                </p>
            </div>
    </body>
    <%- include('partials/footer.ejs') %>
</html>