<%- include('partials/header.ejs') %>
        <title>The Solar System</title>
    </head>
    <body>
        <h1>Welcome to the Solar System</h1>
            <img width = "550" src = "/img/solar-system.jpg" alt = "The Solar System" />
            <div class="col-md-6">
                <p>
                    This is our Solar system filled with planets!
                    Click on a planet on the nav links above to know more about it.
                </p>
            </div>
            
    </body>
    <%- include('partials/footer.ejs') %>
</html>