<%- include('partials/header.ejs') %>
        <title>The Solar System</title>
    </head>
    <body>
        <h1>Welcome to Mercury</h1>
        <div class="col-md-6">
        <p>Click on a planet to know more about it</p>
            <img width = "550" src = "/img/mercury.jpg" alt = "Mercury" />
        <p> Mercury is the the first planet in our solar system, it is a small size planet relative Earth and also bright red. 
            You can see Mercury from the night sky in our planet Earth through the naked eye. Mercury orbits the entire sun in about 87 days.
            and it is the second hottest planet in out solar system. </p>
        </div>
    </body>
    <%- include('partials/footer.ejs') %>
</html>