<%- include('partials/header.ejs') %>
        <title>The Solar System</title>
    </head>
    <body>
        <h1>Welcome to Venus</h1>
        <p>Click on a planet to know more about it</p>

            <img width = "550" src = "/img/venus.jpg" alt = "Venus" />
            <div class="col-md-6">
                <p>
                    Venus is the second planet from the Sun. Venus is named after the Roman goddess of love and beauty.
                    Venus is the second brightest planet while the first is the moon. Venus on occasion is visible from our night sky on Earth. A fun fact about venus is
                    one day in venus is equiavalent to a year on Earth.
                </p>
            </div>
    </body>
    <%- include('partials/footer.ejs') %>
</html>